* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.7;

   color: black;
}

header {
   background-color: magenta;
   color: white;
}

.container {
   margin: auto;
   width: 80%;
}

li {
   list-style: none;
}

a {
   color: white;
   text-decoration: none;
}

.header {
   padding: 0.5rem;
}

.header h1 {
   z-index: 5;
}

ul {
   transition: all 5s ease;
}

.nav-links {
   display: none;
   transition: all 5s ease;
}

.show-links {
   display: block;
   transition: all 5s ease;
}

.header ul li {
   border-top: 1px solid #555;
   display: block;
   padding: 1rem;
   width: 100%;
   border-radius: 3px;
   transition: all 0.4s ease;
}

.header ul li:hover {
   background-color: rgb(207, 117, 207);
}

.burger {
   padding-left: 0;
   position: absolute;
   top: 1rem;
   right: 5rem;
   cursor: pointer;
}

.burger > div {
   width: 2.3rem;
   height: 0.12rem;
   margin: 0.5rem;
   background-color: white;
   transition: all ease-out 0.5s;
}

.toggle .line-1 {
   transform: rotate(-45deg) translate(-5px, 10px);
}
.toggle .line-2 {
   opacity: 0;
}
.toggle .line-3 {
   transform: rotate(45deg) translate(-5px, -10px);
}

main {
   padding-top: 3rem;
}
